
body{
    margin: 0px;
    overflow-y: scroll;
    font-family: 'Arial';}
a{
    text-decoration: none;
    padding: 7px 10px;
    color:inherit;
}
.test{
    width:50px;
    height:50px;
    position: fixed;
    background-color: gray;
}
.text_link{
    height:100%; 
    width:100%;
    padding: 0px;
}
.box_container{
    width:62.5%;
    height:5vw;
    margin-left: 18.75%;
    margin-right: 18.75%;
    top: 0vw;
    background-color: white;
    z-index: 998;
    position: fixed;
    display: flex;
}
/*图标*/
.box2{
    width: 33.3%;
    height: 5vw;
    z-index: 999;
    text-align: bottom;
    display: flex;
    padding-left: 5vw;
}
/*顶部菜单*/
.box3{
    width: 66.6%;
    height: 5vw;
    z-index: 999;
    background-color: white;
    overflow: overlay;
    margin-left: auto;
    padding-right: 5vw;
}
.box3_text{
    font-size: 1vw;
}
/*标签1，用于顶部菜单的列表内子项*/
.f1{}
.f1:hover{
    background-color: #98fc03;
    cursor: pointer;
}
.active {
    background-color: #8DC63F;
    background-size: cover;
    cursor: pointer;
}
/*顶部菜单选项*/
.table1{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 20px;
}
/*正文*/
.box4{
    display: none;
    width: 62.5%;
    top: 5vw;
    margin-left: 18.75%;
    margin-right: 18.75%;
    position: relative;
    text-align: center;
    padding-top: 1vw;
}
/*home*/
.home{
    width: 100%;
    height: 30vw;
    overflow:hidden;
    background-image: url("Research.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.home_text{
    font-size: 1vw;
}
/*People*/
.people_container{
    width: 100%;
    height: 15vw;
    margin-bottom: 2vw;
    display: flex;
    overflow:hidden;
}
.people_pic_container{
    width: 17%;
    height: 100%;
    margin-right:2.5vw;
}
.people_pic{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border:1px solid black;
}
.people_text_container{
    width: 83%;
    height: 100%;
    text-align:left;
    position: relative;
}
.people_name{
    height: 7%;
    font-size:1.25vw;
    margin-top: 0px;
    font-weight: bold;
}
.people_title{
    font-size:0.9vw;
    height: 5%x;
    color: gray;
}
.people_description{
    height: 57%;
    font-size:0.8vw;
}
.people_link{
    height: 5%;
    font-size:0.8vw;
}
.people_past{
    height: 17%;
    font-weight: bold;
    font-size: 1.56vw;
    text-align: left;
}

/*Publication*/
.pub_container{
    width: 100%;
    height: 17.5vw;
    position: relative;
    margin-bottom:2vw; 
    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 1.5vw;
    display: flex;
    overflow:hidden;
}
.pub_flag{
    height: 2.5vw;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: 0.5vw;
    color: rgb(0, 0, 0,0.5);
}
.pub_year{
    height: 2.5vw;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: left;
}
.pub_pic{
    width: 30%;
    height: 100%;
    margin-right: 5%;
}
.pub_text_container{
    width: 65%;
    height: 100%;
}
.pub_text_container_befor{
    width: 100%;
    height: 7.5vw;
    border-bottom: 2px solid #EAEAEA;
    margin-bottom: 1vw;
}
.pub_title{
    font-size: 1vw;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 1vw;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pub_author_list{
    margin: 0px;
    margin-bottom: 1vw;
    font-size:1vw;
    color: gray;
    text-align: left;
}
.pub_description{
    margin: 0px;
    margin-bottom: 1vw;
    text-align: left;
    font-size: 1vw;
}
.pub_journal{
    margin: 0px;
    margin-bottom: 1vw;
    text-align: left;
    font-size: 1vw;
    color: #607ae3;
}



/*Gallery*/
.gallery{
    width: 100%;
    position: relative;
    display: flex;
}
.gallery_list{
    width: 32%;
    position: relative;
    margin: 0.1vw;
}
.gallery_container{
    width: 100%;
    margin: 0.2vw;
    border:1px solid black;
    background-color: white;
}
.gallery_sliderpic{
    display: none;
    width: 100%;
    position: relative;
    object-fit: contain;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}


/*Blogs*/
.blogs{
    width: 100%;
}
.blogs_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 7.5vw;
    margin-bottom: 10px;
    background-color: #f2f0f0;
}
.blogs_cal{
    width: 7.5vw;
    height: 100%;
    border-right: 0.15vw solid gray;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    margin-right: 1vw;
}
.blogs_cal_top{
    border-bottom: 0.15vw solid #a1231a;
    width: 100%;
    height: 40%;
    margin-top: 1vw;
}
.blogs_cal_font1{
    font-size: 2.5vw;
    color: #a1231a;
    margin: 0vw;
    padding-bottom: 0.5vw
}
.blogs_cal_font2{
    font-size: 1.5vw;
    color: #a1231a;
    margin: 0vw;
    margin-top: 0.5vw;
}
.blogs_text_container{
    width: 52.5vw;
    height: 100%;
}
.blogs_title{
    height: 20%;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-weight: bold;
    text-align: left;
    font-size: 1vw;
}
.blogs_preview{
    width: 100%;
    height: 80%;
    margin: 0px;
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;
    text-align: left;
    font-size: 1vw;
    color: gray;
}
.blogs_selector{
    width: 100%;
    height: 2vw;
    margin-bottom: 0.5vw;
    display: flex;
    overflow: overlay;
    padding: auto;
}
.blogs_buttom{
    width: 10%;
    height:100%;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding-top: 0.5vw;
    font-size: 0.8vw;
}
.blogs_buttom:hover{
    background-color: red;
}
/*时间线*/
* {
    box-sizing: border-box;
}

.news {
    background-color: #acadb1;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 62.5vw;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 0.3125vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.15625vw;
}

/* Container around content */
.container {
    padding: 0.5vw 2vw;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
    right: -1.1vw;
    background-color: white;
    border: 0.3vw solid #8DC63F;
    top: 1.389vw;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.2vw;
    width: 0;
    z-index: 1;
    right: 1.2vw;
    border: medium solid white;
    border-width: 0.8vw 0 0.8vw 0.8vw;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.2vw;
    width: 0;
    z-index: 1;
    left: 1.2vw;
    border: medium solid white;
    border-width: 0.8vw 0.8vw 0.8vw 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left:-1vw;
}

/* The actual content */
.content {
    max-height: 15vw;
    padding: 0.8vw 1.2vw;
    background-color: white;
    position: relative;
    border-radius: 0.5vw;
}
.news_head{
    font-size: 1.2vw;
    margin: 0;
    color: #607ae3;
}
.news_text{
    font-size: 1vw;
    margin: 0;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
            
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
            
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
            
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}